<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create New Brain Blog</title>	
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type='text/css'>
</head>  
<body>
    <div id="banner">
	<h1>Create New Brain Blog</h1>
    </div>
    <p class="lead">Brain Dump </br>
    <font color="RED">{{ error}}</font></p>
    <form action="/addpost" method="post" id="addpost">
	Brain Dump Title: <input type="text" name="title"></input>
	</br>
  	Brain Dump Area: <input type="text" name="poot"></input></br>
  	<input type="submit" value="Add New"></input>
</form>
</body>
</html>
